In [99]:
import pandas as pd

rel_fol = "../RebrickableDec082025/"
#temp = "../temp/"

inventoryparts = pd.read_csv(rel_fol + "inventory_parts.csv", usecols=[0,1,2,3,4])
#temp = pd.read_csv(temp + "inventory_parts.csv", usecols=[0,1,2,3,4])
colors = pd.read_csv(rel_fol + "colors.csv", usecols=[0,1,2,3])
inventories = pd.read_csv(rel_fol + "inventories.csv", usecols=[0,2])
sets = pd.read_csv(rel_fol + "sets.csv", usecols=[0,2])

#print(inventoryparts)
#print(temp)

mergetable = inventoryparts.merge(colors, how='left', left_on='color_id', right_on='id')
mergetable = mergetable.merge(inventories, how='left', left_on='inventory_id', right_on='id')
mergetable = mergetable.merge(sets, how='left', on='set_num')

mergetable = mergetable[mergetable['year'] > 1940]
mergetable.sort_values(by='year')
 
#mergetable.to_csv('out.csv', index=False)

         inventory_id        part_num  color_id  quantity  is_spare
0                   1        48379c04        72         1     False
1                   1           48391         0         1     False
2                   1           48395         7         1     False
3                   1        48864c01        25         1     False
4                   1  stickerupn0077      9999         1     False
...               ...             ...       ...       ...       ...
1435086        309590           3678b         0         1     False
1435087        309590           4085c         0         2     False
1435088        309590           59363         0         1     False
1435089        309590           64647         0         1     False
1435090        309590       973c03h03         0         1     False

[1435091 rows x 5 columns]
         inventory_id        part_num  color_id  quantity  is_spare
0                   1        48379c04        72         1     False
1                   1           48391         0         1     False
2                   1           48395         7         1     False
3                   1        48864c01        25         1     False
4                   1  stickerupn0077      9999         1     False
...               ...             ...       ...       ...       ...
1435086        309590           3678b         0         1     False
1435087        309590           4085c         0         2     False
1435088        309590           59363         0         1     False
1435089        309590           64647         0         1     False
1435090        309590       973c03h03         0         1     False

[1435091 rows x 5 columns]

,inventory_id,part_num,color_id,quantity,is_spare,id_x,name,rgb,is_trans,id_y,set_num,year
600615,24212,brickslot0002,15,3,False,15,White,FFFFFF,False,24212.0,700.2-1,1949.0
600639,24213,3003d,1009,6,False,1009,Vintage Green,1E601E,False,24213.0,700.1-1,1949.0
600640,24213,3003d,1008,6,False,1008,Vintage Blue,039CBD,False,24213.0,700.1-1,1949.0
600641,24213,3003d,15,6,False,15,White,FFFFFF,False,24213.0,700.1-1,1949.0
600642,24213,3003d,1011,6,False,1011,Vintage Yellow,F3C305,False,24213.0,700.1-1,1949.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1349634,260502,6541,15,4,False,15,White,FFFFFF,False,260502.0,40819-1,2025.0
1347520,260066,73230,15,2,False,15,White,FFFFFF,False,260066.0,75429-1,2025.0
1433578,306383,25375,297,1,False,297,Pearl Gold,AA7F2E,False,306383.0,9781837251742-1,2026.0
1433577,306383,25111,297,1,False,297,Pearl Gold,AA7F2E,False,306383.0,9781837251742-1,2026.0
1433576,306383,21459,297,1,False,297,Pearl Gold,AA7F2E,False,306383.0,9781837251742-1,2026.0

In [161]:
mergetable['year'] = mergetable['year'].astype(int)
output = mergetable.groupby(['color_id', 'name', 'rgb', 'year'])['quantity'].sum().reset_index()
output.to_csv('colorrace.csv', index=False)